In [1]:
%config IPCompleted.greedy = True

## Import Libraries

In [2]:
import os
import re
import nltk
import numpy as np
from azureml.core import Workspace, Dataset
from azureml.core.compute import AmlCompute, ComputeTarget
from nltk.corpus import stopwords 
from nltk.stem import PorterStemmer

In [3]:
# download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\luisf\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Get Workspace

In [4]:
ws = Workspace.from_config()
ws.get_details()

{'id': '/subscriptions/1f3811a0-1fb9-4d43-974c-8c7bdc025d92/resourceGroups/disasterLocator/providers/Microsoft.MachineLearningServices/workspaces/disasterLocatorML',
 'name': 'disasterLocatorML',
 'location': 'eastus',
 'type': 'Microsoft.MachineLearningServices/workspaces',
 'tags': {},
 'sku': 'Basic',
 'workspaceid': '90beb71e-3575-4cbd-af2a-cb2c303edc7b',
 'description': '',
 'friendlyName': 'disasterLocatorML',
 'creationTime': '2020-11-11T14:39:30.8601986+00:00',
 'containerRegistry': '/subscriptions/1f3811a0-1fb9-4d43-974c-8c7bdc025d92/resourceGroups/disasterLocator/providers/Microsoft.ContainerRegistry/registries/90beb71e35754cbdaf2acb2c303edc7b',
 'keyVault': '/subscriptions/1f3811a0-1fb9-4d43-974c-8c7bdc025d92/resourcegroups/disasterlocator/providers/microsoft.keyvault/vaults/disasterlocato9806975694',
 'applicationInsights': '/subscriptions/1f3811a0-1fb9-4d43-974c-8c7bdc025d92/resourcegroups/disasterlocator/providers/microsoft.insights/components/disasterlocato5776021600',
 'identityPrincipalId': 'ffd7eac5-c771-422b-8080-675c5d58b978',
 'identityTenantId': 'b2cc71a7-45cf-49fe-b78c-a7d1913afbfb',
 'identityType': 'SystemAssigned',
 'storageAccount': '/subscriptions/1f3811a0-1fb9-4d43-974c-8c7bdc025d92/resourcegroups/disasterlocator/providers/microsoft.storage/storageaccounts/disasterlocato4377676546',
 'hbiWorkspace': False,
 'discoveryUrl': 'https://eastus.experiments.azureml.net/discovery',
 'notebookInfo': {'fqdn': 'ml-disasterlocatorm-eastus-90beb71e-3575-4cbd-af2a-cb2c303edc7b.notebooks.azure.net',
  'resource_id': 'f17d49a4f9de44f9b8500ef5fd322cd7'}}

# Get Key Vault Secrets

In [5]:
keyvault = ws.get_default_keyvault()
subscription_id = keyvault.get_secret("subscription-id")

# Attach Compute Target

In [6]:
# compute cluster configuration
compute_name = os.environ.get("AML_COMPUTE_CLUSTER_NAME", "nlp-cpu-cluster")
compute_min_nodes = os.environ.get("AML_COMPUTE_CLUSTER_MIN_NODES", 0)
compute_max_nodes = os.environ.get("AML_COMPUTE_CLUSTER_MAX_NODES", 4)
vm_size = os.environ.get("AML_COMPUTE_CLUSTER_SKU", "STANDARD_D2_V2")


if compute_name in ws.compute_targets:
    compute_target = ws.compute_targets[compute_name]
    if compute_target and type(compute_target) is AmlCompute:
        print('found compute target: ' + compute_name)
else:
    print('creating a new compute target...')
    provisioning_config = AmlCompute.provisioning_configuration(vm_size=vm_size,
                                                                min_nodes=compute_min_nodes,
                                                                max_nodes=compute_max_nodes)
    # create the cluster
    compute_target = ComputeTarget.create(
        ws, compute_name, provisioning_config)

    # can poll for a minimum number of nodes and for a specific timeout.
    # if no min node count is provided it will use the scale settings for the cluster
    compute_target.wait_for_completion(
        show_output=True, min_node_count=None, timeout_in_minutes=20)

    # For a more detailed view of current AmlCompute status, use get_status()
    print(compute_target.get_status().serialize())

found compute target: nlp-cpu-cluster

# Consume Dataset

In [7]:
dataset = Dataset.get_by_name(ws, name='disaster_tweets_train')
tweets_pd = dataset.to_pandas_dataframe()
tweets_pd.head()

,id,keyword,location,text,target
0,1.0,None,None,Our Deeds are the Reason of this #earthquake M...,1.0
1,4.0,None,None,Forest fire near La Ronge Sask. Canada,1.0
2,5.0,None,None,All residents asked to 'shelter in place' are ...,1.0
3,6.0,None,None,"13,000 people receive #wildfires evacuation or...",1.0
4,7.0,None,None,Just got sent this photo from Ruby #Alaska as ...,1.0

In [8]:
tweets_pd.drop(columns=['id', 'keyword', 'location'], inplace=True)
tweets_pd.dropna(inplace=True)
tweets_pd.head()

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...     1.0
1             Forest fire near La Ronge Sask. Canada     1.0
2  All residents asked to 'shelter in place' are ...     1.0
3  13,000 people receive #wildfires evacuation or...     1.0
4  Just got sent this photo from Ruby #Alaska as ...     1.0

In [9]:
tweets_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7176 entries, 0 to 8392
Data columns (total 2 columns):
text      7176 non-null object
target    7176 non-null float64
dtypes: float64(1), object(1)
memory usage: 168.2+ KB

In [10]:
tweets_pd.describe()

            target
count  7176.000000
mean      0.429348
std       0.495018
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

# Split Traning Data

In [11]:
x = tweets_pd['text'].values
y = tweets_pd['target'].values
print("x sample: ", x[0])
print("y sample: ", y[0])

x sample:  Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
y sample:  1.0

In [12]:
stemmer = PorterStemmer() 
stopwords_english = stopwords.words('english') 

def clean_tweet(text):
    if type(text)!=str and type(text)!=np.str_:
        print("type of ", type(text), "cannot be processed")
        return
    # remove special characters
    text = re.sub('[^A-Za-z0-9 ]+', '', text)
    # remove stopwords
    cleaned_tweet = []
    for word in text.split():
        stem_word = stemmer.stem(word)
        if stem_word not in stopwords_english:
            cleaned_tweet.append(stem_word)
    return cleaned_tweet

In [13]:
X_train = [clean_tweet(tweet) for tweet in x]

In [14]:
X_train[0]

['deed', 'reason', 'thi', 'earthquak', 'may', 'allah', 'forgiv', 'us']

# Building the Vocabulary

In [15]:
def build_vocab(tweets_array):
    vocab = {'__PAD__': 0, '__</e>__': 1, '__UNK__': 2} 
    for tweet in tweets_array:
        for word in tweet:
            if word not in vocab:
                vocab[word] = len(vocab)
    return vocab

In [16]:
vocab = build_vocab(X_train)

# Transform Tweets to Sequences

In [17]:
def tweets_to_sequences(sentence_tweets, vocab, unk_tag='__UNK__'):
    transformed_tweets = []
    for tweet in sentence_tweets:
        processed_tweet = []
        for word in tweet:
            if word in vocab:
                processed_tweet.append(vocab[word])
            else:
                processed_tweet.append(vocab[unk_tag])
        transformed_tweets.append(np.array(processed_tweet, dtype=np.int64))
    return transformed_tweets

In [18]:
X_train = tweets_to_sequences(X_train, vocab, unk_tag='__UNK__')

In [19]:
max_len = max([len(tweet) for tweet in X_train])+1 #+1 for end of sentence tag 
max_len

27

In [20]:
def pad_sequences(sequences, vocab, max_len, end_tag='__</e>__', pad_tag='__PAD__'):
    padded_sequences = []
    for sequence in sequences:
        padded_sequence = np.array(list(sequence) + [vocab[end_tag]] + [vocab[pad_tag]]*(max_len-len(sequence)-1))
        if (len(padded_sequence) == max_len):
            padded_sequences.append(padded_sequence)
    return np.array(padded_sequences)

In [21]:
X_train = pad_sequences(X_train, vocab, max_len, end_tag='__</e>__', pad_tag='__PAD__')

In [22]:
X_train.shape

(7176, 27)

In [23]:
len(X_train[0])==max_len

True